
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<div>
    @Html.ActionLink("View UserProfile", "ProfilePageLoad", "ProfileDB")
</div>
<div>
    @Html.ActionLink("Change Password", "ChangePasswordPageLoad", "ChangePasswordDB")
</div>

